.header {
  @extend .absolute-centralized;
  max-width: $wrapper-width-limit;
  width: $wrapper-width;
  text-align: center;
  > .title {
    margin: 0px 0px 40px 0px;
    text-transform: uppercase;
    font-family: $main-font;
    font-size: $main-title-size;
    color: $main-title-color;
  }
  > .subtitle {
    font-family: $main-font;
    font-size: $secondary-title-size;
    color: $secondary-title-color;
  }
}