.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  > .title {
    margin: 0px 0px 40px 0px;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-size: 48px;
    color: #333333;
  }
  > .subtitle {
    font-family: 'Helvetica Neue';
    font-size: 36px;
    color: #666666;
  }
}